heating
 &cntrl
   imin = 0, nstlim = 500000, irest = 0, ntx = 1, dt = 0.002,
   ntt = 1, temp0 = 298.15, tempi = 10.0, tautp = 1.0,
   ntc = 2, ntf = 1,
   ntb = 1, ntwprt = 2616, 
   ioutfm = 1, iwrap = 1,
   ntwe = 1000, ntwx = 1000, ntpr = 1000, ntwr = 5000,

   nmropt = 1, pencut = -1,
   ntr = 1, restraint_wt = 10.0,
   restraintmask=':1-163&!(@H=)',

   icfe = 1, clambda = %L%, scalpha = 0.5, scbeta = 12.0,
   logdvdl = 0,
   timask1 = ':163', timask2 = '',
   %FE%
 /
 &ewald
 / 
 &wt type='TEMP0', istep1 = 0, istep2 = 400000, value1 = 10.0, value2 = 298.15, /
 &wt type = 'END' , /
 DISANG=disang_vdw.rest
 LISTOUT=POUT
 /
